.navbar {
    height: 100px;
    color: whitesmoke;
    background-color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}